@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using TslCompetencyTaskUi.Models.Builders
@using TslCompetencyTaskUi.Models.Classes
@using TslCompetencyTaskUi.Models.Dtos
@implements IAsyncDisposable

<!--Use Finished flag for animated checkered flag on side-->
<!--Also make nicer-->
<table>
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Team</th>
        <th>Class</th>
        <th>Position</th>
        <th>Lap</th>
        <th>Fastest Lap</th>
        <th>Last Lap</th>
        <th colspan="3">Current Split</th>
    </tr>
    @if (isLoaded)
    {
        @foreach (Competitor competitor in raceData.Classification)
        {
            <tr>
                <td>@competitor.Name</td>
                <td>@competitor.StartNumber</td>
                <td>@competitor.TeamName</td>
                <td>@competitor.ClassName</td>
                <td>@competitor.Position</td>
                <td>@competitor.Laps</td>
                <td>@competitor.FastestLapTime.Display</td>
                <td>@competitor.LastLapTime.Display</td>
                @foreach (KeyValuePair<string, Time?> splits in competitor.CurrentLapSectorTimes)
                {
                    <td colspan="1">@splits.Value.Display</td>
                }
            </tr>
        }
    }
    else
    {
        //Do loading css
    }

</table>

@code{
    private HubConnection? hubConnection;
    private readonly List<string> _message = new();
    private RaceData raceData = new RaceData();
    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        //Move URL and token to appsettings
        hubConnection = new HubConnectionBuilder()
        .WithUrl("https://localhost:7032/RaceData",
        o => o.AccessTokenProvider = () => Task.FromResult<string?>("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IlRzbEFwcCIsInN1YiI6IlRzbEFwcCIsImp0aSI6IjQ4OWZlMmE0IiwiYXVkIjpbImh0dHA6Ly9sb2NhbGhvc3Q6MTEwMyIsImh0dHBzOi8vbG9jYWxob3N0OjQ0MzAxIiwiaHR0cDovL2xvY2FsaG9zdDo1MTI4IiwiaHR0cHM6Ly9sb2NhbGhvc3Q6NzAzMiJdLCJuYmYiOjE3Mzc4NDkyODEsImV4cCI6MTc0NTYyNTI4MSwiaWF0IjoxNzM3ODQ5MjgyLCJpc3MiOiJkb3RuZXQtdXNlci1qd3RzIn0._Esz44m3wKRKTHwEb4dN-8VqMBcXLmrPiTqRWRxwS0Y"))
        .ConfigureLogging(logging =>
        {
            // Log to the Console
            logging.AddConsole();

            // This will set ALL logging to Debug level
            logging.SetMinimumLevel(LogLevel.Debug);
        })
        .Build();

        hubConnection.On<RaceDataDto>("SendRaceData", data =>
        {
            raceData = new RaceDataBuilder()
            .AddSessionId(data.sessionId)
            .AddDuration(data.duration)
            .AddSessionState(data.sessionState)
            .AddStartTime(data.startTime)
            .AddTrack(data.track)
            .AddSeries(data.series)
            .AddTimeRemaining(data.timeRemaining)
            .AddClassification(data.classification)
            .Build();
            isLoaded = true;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    //Tidy up connection
    public async ValueTask DisposeAsync()
    {
        if(hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}
